:root{
  --border-color: #bbbbbb;
  --pad: 5px;
  --nav-height: 50px;
  --bg-color: #E9EBEE;
  --card-color: #fefefe;
}

body
{
  font-family: 'Source Sans Pro', sans-serif;
  min-width: 764px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Common class components */

.card{
  margin: 5px;
  background-color: var(--card-color);
}

/* container component */

.container{
  height: 100%;
  width: 100%;
  box-sizing:border-box;
}
.center{
  display: table;
}
.container.center .center-item{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.container.padding{
  padding: var(--pad);
}
.container.border{
  border: 1px solid var(--border-color);
}
.container.flex{
  display: flex;
}

/* utility classes */

.hide{
  display: none;
}

.expand{
  height: 100%;
  width: 100%;
}

.overflow{
  overflow: auto;
}

/* Unique Components */

#mainView{
  background-color: var(--bg-color);
}

#desktop{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

nav#nav-bar{
  height: var(--nav-height);
  flex-direction:column;
  border-bottom: 1px solid var(--border-color);
}

nav#nav-bar #nav-bar-container{
  background-color: white;
}

nav#nav-bar #nav-title{
  font-size: 32px;
  margin-left: 10px;
  line-height: 1.2;
  font-weight: bold;
  flex: 7;
}
nav#nav-bar #nav-buttons{
  flex: 1

}

nav#nav-bar #nav-buttons #nav-power-btn{
  float: right;
}

nav#nav-bar #nav-buttons #nav-power-btn #connect-btn{
}

nav#nav-bar #nav-buttons #nav-power-btn #disconnect-btn{
}

aside#instruction-sidebar {
  height: 100%;
  transition: width 0.3s ease-in-out 0s;
  width: 25%;
}
aside#instruction-sidebar.close{
  width: 0;
}

section#connect-page {
  width: 90%;
  margin: 0 auto;
}

section#connect-page .input-container{
  width: 80%;
  margin: 10px auto;
}

section#connect-page .input-container .input-title{
  font-size: 8px;
  text-align: left;
}
section#connect-page .input-container input{
  width: 100%;
}

/* hierarchical view components */

#vnc-root{
  position: relative;
  flex: 1;
  height: 100%;
}

main#root{
  display: flex;
  flex-direction: row;
  height: calc( 100vh - var(--nav-height));
}
